<?xml version="1.0" encoding="utf-8"?><!--
     abiola 2022

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />

    <application>
    <receiver
        android:name=".AlarmReceiver"
        android:exported="false">
    </receiver>
</application>
</manifest>