*.iml
.gradle
.kotlin
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/feature/mainscreen/build/
/benchmark/build/
/core/designsystem/build/
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/component/AddDetailBottomSheet.kt
/app/release/app-release.aab
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/component/ColorImageBottomSheet.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/EditNavigation.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/EditScreen.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/EditViewModel.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/androidTest/java/com/mshdabiola/editscreen/ExampleInstrumentedTest.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/test/java/com/mshdabiola/editscreen/ExampleUnitTest.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/ImageToText.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/LabelUiState.kt
/feature/build/spotless/spotlessKotlin/mainscreen/src/main/java/com/mshdabiola/mainscreen/MainScreen.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/component/NoteOptionBottomSheet.kt
/core/build/spotless/spotlessKotlin/designsystem/src/main/java/com/mshdabiola/designsystem/component/NotePadTextField.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/component/NotificationBottomSheet.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/ShareEditScreen.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/component/ShareViewModel.kt
/feature/build/spotless/spotlessKotlin/editScreen/src/main/java/com/mshdabiola/editscreen/VoiceRecorder.kt
/feature/build/
/.idea/runConfigurations/Generate_Baseline_Profile.xml
